/* Language: css */
/* Path: style.css */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;600&display=swap");

/* defaults */

html, body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(17, 17, 21);
  scroll-behavior: smooth;
  margin: 0;
}

div {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* input boxes */
input {
  background-color: rgb(21, 21, 25);
  border: none;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 8px;
  margin: 8px;
}


/* hyperlinks */

a {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  transition: 0.5s color;
}

a:hover {
  color: rgb(30, 255, 116);
  text-decoration: underline;
}

/* naviagtion bar */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(21, 21, 25);
  border-radius: 5px;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.5s;
}

.navbar li a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/* top banner */
.home {
  background-color: rgb(21, 21, 25);
  border-radius: 5px;
}

.home h1 {
  font-size: 100pt;
  text-align: center;
  padding: 0.5rem;
}

/* about section */

.about {
  background-color: rgb(17, 17, 21);
  width: 100%;
  font-size: 20px;
  transition: 0.5s;
  text-align: center;
}

.about h1 {
  text-align: center;
  font-size: 64pt;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.about p {
  text-align: center;
  font-size: 24pt;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  width: 60%;
}

/* download section */

.download {
  background-color: rgb(17, 17, 21);
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-size: 20px;
  transition: 0.5s;
}

.download h1 {
  text-align: center;
  font-size: 64pt;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.download h2 {
  text-align: center;
  font-size: 28pt;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.download button {
  background: rgb(21, 21, 25);
  border: none;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem 2rem;
  transition: 0.5s;
}

.download button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(21, 21, 25);
  transition: 0.5s;
}

/* tutorial section */

.tutorial h1 {
  text-align: center;
  font-size: 64pt;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.tutorial li {
  text-align: left;
  font-size: 24pt;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.tutorial p {
  text-align: center;
  font-size: 24pt;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

/* footer */

.footer {
  height: 10%;
  width: 100%;
  font-size: 20px;
  transition: 0.5s;
  bottom: 0;
}

.footer p {
  text-align: center;
  font-size: 18pt;
  font-weight: 200;
  color: rgb(241, 241, 241);
  transition: 0.5s;
}

/* 404 */

.error {
  background-color: rgb(21, 21, 25);
  border-radius: 5px;
}

.error h1 {
  font-size: 100pt;
  text-align: center;
  padding: 0.5rem;
  margin: 0;
}

.error {
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  margin: 0;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #33fa6f 0%, #5643ff 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}
